.ingredient__box {
  display: flex;
  justify-content: space-between;
}
.ingredient__inputBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-bottom: var(--clr_border-bottom) solid 1px;
  margin-bottom: 0.6rem;
}
.ingredient__ButtonBox {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  margin-right: 1.2rem;
}
.ingredient__box__grid {
  display: grid;
  width: 100%;
  border-bottom: var(--clr_border-bottom) solid 1px;
  grid-template-columns: 1fr minmax(min-content, 20%) minmax(min-content, 20%);
}
.ingredient__box__grid_text {
  font-size: 1.6rem;
  padding: 0.6rem 0 0.6rem 0.2rem;
  color: var(--clr_main_ff);
}
.ingredient__box__grid_text--quantity {
  text-align: end;
  padding-right: 1rem;
}
