.inputForm {
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
}
.inputForm__inputField {
  font-size: 1.4rem;
  width: 100%;
  margin-right: auto;
}
.inputForm__label {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 1rem;
}
.inputForm__flexBox {
  display: flex;
  flex-direction: column;
  border: rgb(185, 185, 185) solid 2px;
}
