.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--clr_main_background);
}
/* ================================================================== */
.inputForm {
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;
}

.inputForm__flexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  border-top: rgb(185, 185, 185) solid 2px;
}
.inputForm__border {
  border-radius: 1rem;
  border: rgb(185, 185, 185) solid 2px;
}
