.itemBox {
  border: var(--clr-accent_background) solid 3px;
  border-radius: 1.5rem;
  width: 70%;
  margin: auto;
}
.itemBox__textBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 1.8rem;
  text-align: center;
}
.itemBox__day {
  background-color: var(--clr_main_background);
  border-radius: 1.4rem 1.4rem 0 0;
  color: var(--clr_main_ff);
}
.itemBox__day__btnBox {
  position: absolute;
  right: 0;
}
.itemBox__recipe {
  background-color: var(--clr-input_background);
  border-radius: 0 0 1.2rem 1.2rem;
}
