.content_swipe {
  position: relative;
  display: flex;
  left: 0;
  width: 400%;
  max-width: 300rem;
  /* height: 76.5vh; */
  height: 100%;
  transition: all 300ms ease-in-out;
}
.content_page_1 {
  left: 0;
}
.content_page_2 {
  left: -100%;
}
.content_page_3 {
  left: -200%;
}
.content_page_4 {
  left: -300%;
}
