.contentListBox {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  max-width: 75rem;
  height: 100%;
}
.contentListBox__emptyList {
  margin-top: 2rem;
}

.contentListBox__ul {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.buttonTrash {
  margin: 2rem;
  align-self: center;
}
.settingsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: var(--clr_main_ff);
}
.settingsBox h2 {
  font-size: 1.8rem;
  font-weight: 400;
}
.settingsBox p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1rem;
}
.settingsBox textarea {
  color: var(--clr_main_ff);
  background-color: var(--clr_main_background);
  border: var(--clr_border) solid 2px;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  font-family: inherit;
  resize: none;
  width: 80%;
  max-width: 35rem;
}
