.contentListBox {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  max-width: 75rem;
  height: 100%;
}
.contentListBox__emptyList {
  margin-top: 2rem;
}

.contentListBox__ul {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.buttonTrash {
  margin: 2rem;
  align-self: center;
}
