.header {
  display: block;
  width: 100%;
  min-height: 80px;
  height: 11.5vh;
}
.header__box {
  position: relative;
  margin-top: 0;
  width: 100%;
  min-height: 70px;
  height: 10vh;
  z-index: 99;
  background-color: var(--clr-accent_background);
  font-weight: 500;
  font-size: 1.5rem;
  font-family: var(--ff_accent);
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.header__contentSpacer {
  width: 100%;
  height: 1.5vh;
  top: 100px;
  background-color: var(--clr-navbar_background);
}
.header__textBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.25em;
  width: 75%;
  height: 95%;
  padding: 0.2em;
}
.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0.6rem;
  font-size: 2rem;
}
.header__btn--menu {
  right: 0.6rem;
}
.header__btn--search {
  left: 0.6rem;
}
.header__burger_menu {
  display: inline-block;
  scale: 2;
}
.header__burger_menu:hover {
  /* transform: scale(1.2);
  transition: all 300ms; */
  /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5); */
}
.header__burger_menu:active {
  /* transform: scale(1.2); */
  /* transition: all 300ms; */
}
