.navbar {
  background-color: var(--clr-navbar_background);
  display: flex;
  padding: 3rem 1.5rem 2rem 1.5rem;
  width: 100%;
  min-width: 340px;
  max-width: 750px;
  height: 15vh;
  margin-top: 0px;
  align-self: flex-start;
}

.nav_ico_underline {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.navbar__icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 0.2rem;
  scale: 4;
  color: brown;
  filter: invert(1);
  opacity: 0.5;
}
.current_icon {
  filter: brightness(3.5);
  scale: 4.5;
  transition: all 500ms;
}
.underline {
  font-size: 1.2rem;
  font-family: var(--ff_main);
  color: var(--clr_main_ff);
  text-transform: uppercase;
  font-weight: 600;
}
