.contentListBox {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 75rem;
  height: 100%;
}
.contentListBox__ul {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  padding: 2rem;
  padding-top: 0;
}
.contentListBox__item {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--clr_btn_list);
  padding: 0.4rem 1rem;
  border-radius: 0.8rem;
  width: 70%;
  font-family: var(--ff_main);
  font-weight: 400;
  font-size: 1.8rem;
  user-select: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}
