.App {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  height: 100vh;
  color: var(--clr_accent_ff);
  background-color: var(--clr_main_background);
  overflow-x: hidden;
}

/* fade in */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
