*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62%;
}
body {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  background-color: rgb(126, 126, 126);
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  top: 0;
  overscroll-behavior-y: contain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
