.searchBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: translate(0, -100%) translateY(-1.3rem);
  height: 13vh;
  background-color: var(--clr-accent_background);
  width: 100%;
  z-index: 99;
  font-size: 1.5rem;
  padding: 0.5rem 6rem;
  transition: transform 250ms ease-in-out;
}
.searchBar--hide {
  transform: translate(0%, -30vh);
}
.searchBar__btnBox {
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar__xBtn {
  scale: 2.5;
}
.searchBar__box {
  max-width: 28rem;
}
.searchBar__box label {
  color: var(--clr_accent_ff);
  font-weight: 500;
  font-size: 1.5rem;
  font-family: var(--ff_accent);
}
