.searchBar {
  position: absolute;
  display: flex;
  justify-content: center;
  transform: translate(0, -100%) translateY(-9px);
  height: 14vh;
  background: linear-gradient(#08302448, #0f5742);
  width: 100%;
  z-index: 99;
}
.searchBar--hide {
  transform: translateY(-100%);
}
.searchBar__box {
  align-self: end;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-accent_background);
  font-weight: 500;
  font-size: 1.5rem;
  font-family: var(--ff_accent);
  /* padding: 0 2rem; */
  border-bottom: #0f5742 solid 3px;
  border-top: #0f5742 solid 3px;
}
.searchBar__btnBox {
  position: absolute;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serachBar__xBtn {
  scale: 2.5;
}
